#container {
  background-color: white;
  height: 90vh;
  width: 60vh;
  display: grid;
  grid-template-columns: repeat(41, 1fr);
  grid-template-rows: repeat(60, 1fr);
  background-image: url(spacebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}
#spaceship {
  background-image: url(pixelspaceship.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-row-start: 56;
  grid-row-end: 60;
  visibility: hidden;
  display: none;
}
