#container {
  background-color: white;
  height: 90vh;
  width: 56vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(15, 1fr);
  background-image: url(spacebackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
html {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}
#spaceship {
  background-image: url(pixelspaceship.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 14;
  visibility: hidden;
  display: none;
  margin: 0;
}
/* #meteor {
  background-image: url("meteor.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 12;
  grid-column: 1;
  visibility: hidden;
  display: none;
} */
#alien1,
#alien2,
#alien3,
#alien4,
#alien5,
#alien6,
#alien7,
#alien8 {
  background-image: url(level1ship.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 2;
  visibility: hidden;
  display: none;
}
#rocket {
  background-image: url(rocket.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
  display: none;
  grid-row: 14;
}
#fire {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  float: right;
}
#button1 {
  float: left;
}
